# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
.env
.venv
env/
venv/
ENV/

# IDE & Editor files
.vscode/
.idea/
*.swp
*.swo
.DS_Store

# Logs
*.log
logs/
